@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@layer utilities {
    .font-manrope {
        font-family: 'Manrope', sans-serif;
    }

    .font-playfair {
        font-family: 'Playfair Display', serif;
    }

    .glass-card {
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}

:root {
    --color-primary: #f53d87;
}